/* .table-hover.thead {
    background-color: blue;
    color: cornsilk;
} */
/* th {
    background-color: rgb(14, 10, 241); 
   background-color: rgba(3, 130, 248, 0.808);
   color: white;
  } */
  body{
    
    margin: 0;
    padding: 20px;
    font-family: sans-serif;  
  }
  *{
      box-sizing: border-box;
  }
  h1{
      font-weight: bold;
      color: #1b6ec2;
  }
  .table{
      width: 100%;
      border-collapse: collapse;
  }
  .table td, .table th{
      padding: 7px 15px;
      border: 1px solid #ddd;
      text-align: center;
      font-size: 16px;
  }
  .table th{
      background-color: #1b6ec2;
      color: #ffffff;
  }
  /* .table td{
    margin-bottom:15px;
    border: 0.1px solid rgb(69, 146, 209);
  } */
  /* .table tbody tr:nth-child(even){
      background-color: rgb(219, 235, 241);
  } */
  input{
    border: 1px solid rgb(69, 146, 209);
    align-self: auto;
  }
 /* .table tbody{
     background-color: white;
 } */
 

  /*responsive*/
  @media(max-width: 400px){
    .table{
        
        border-collapse: collapse;
    }  
    .table thead{
          display: none;
      }
      .table, .table tbody, .table tr, .table td{
          display: block;
          width: 100%;
      }
      
      .table td{
          text-align: right;
          padding-left: 50px;
          text-align: right;
          position: relative;
          font-size: 15px;
          border: 1px solid white;
          font-weight: bold;
      }
      .table tr{
        margin-bottom:15px;
       /* border: 1px solid rgb(69, 146, 209);
        background-color:rgb(235, 245, 251 ); */
         background-color:  rgb(69, 146, 209);
        /* color: #ffffff; */
    }
      .table td::before{
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 15px;
          font-weight: bold;
          text-align: left;
          color: white;
          
      }
      
  }