<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Registo de Clientes</h5>
            <form class="form-signin" [formGroup]="formGroup">
              
              <div class="form-label-group">
                <input type="text" id="clienteId" name="clienteId" formControlName="clienteId" class="form-control" placeholder="clienteId" required
                [ngClass]="{ 'is-invalid':  control.clienteId.errors}"
                />
                <div *ngIf="control.clienteId.errors" class="invalid-feedback">           
                  <div *ngIf="control.clienteId.errors.required">Se require la Identificacion</div>
                </div>                  
                <label for="clienteId">Identificacion</label>
              </div><br>

              <div class="form-label-group">
                  <input  type="text" id="nombre" name="nombre" formControlName="nombre" class="form-control" placeholder="Nombre" required [ngClass]="{ 'is-invalid':  control.nombre.errors}">
                  <div *ngIf="control.nombre.errors" class="invalid-feedback">
                    <div *ngIf="control.nombre.errors.required">Se require el nombre</div>
                  </div>
                  <label for="nombre">Nombre</label>
              </div><br>

              <div class="form-label-group">
                <input type="text" id="apellido" name="apellido" formControlName="apellido" class="form-control" placeholder="apellido" required [ngClass]="{ 'is-invalid':  control.apellido.errors}">
                <div *ngIf="control.apellido.errors" class="invalid-feedback">
                  <div *ngIf="control.apellido.errors.required">Se require el apellido</div>                  
                </div>
                <label for="apellido">Apellido</label>
            </div><br>

              <div class="form-label-group">
                  <input type="text" id="telefono" name="telefono" formControlName="telefono" class="form-control" placeholder="Telefono" required [ngClass]="{ 'is-invalid':  control.telefono.errors}">
                  <div *ngIf="control.telefono.errors" class="invalid-feedback">
                    <div *ngIf="control.telefono.errors.required">Se require el telefono</div>
                  </div>
                  <label for="telefono">Telefono</label>
              </div><br>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="onSubmit()"  [disabled]="formGroup.invalid">Registrar</button>
              <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="reset">Cancelar</button>
            
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>






<!-- <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Registo de Clientes</h5>
              <form class="form-signin">
                
                <div class="form-label-group">
                  <input type="text" id="cedula" name="cedula" [(ngModel)]="cliente.cedula" class="form-control" placeholder="Cedula" required>
                  <label for="cedula">Cedula</label>
                </div><br>

                <div class="form-label-group">
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" class="form-control" placeholder="Nombre" required>
                    <label for="nombre">Nombre</label>
                </div><br>

                <div class="form-label-group">
                    <input type="text" id="telefono" name="telefono" [(ngModel)]="cliente.telefono" class="form-control" placeholder="Telefono" required>
                    <label for="telefono">Telefono</label>
                </div><br>

                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="add()">Registrar</button>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="reset">Cancelar</button>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body> -->