<body>
    <div class="container">
      <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card card-signin my-5">
            <div class="card-body">
              <h5 class="card-title text-center">Registo de Clientes</h5>
              <form class="form-signin">
                
  
                <div class="form-label-group">
                  <input type="text" id="cedula" name="cedula" [(ngModel)]="cliente.cedula" class="form-control" placeholder="Cedula" required>
                  <label for="cedula">Cedula</label>
                </div><br>

                <div class="form-label-group">
                    <input type="text" id="nombre" name="nombre" [(ngModel)]="cliente.nombre" class="form-control" placeholder="Nombre" required>
                    <label for="nombre">Nombre</label>
                </div><br>

                <div class="form-label-group">
                    <input type="text" id="telefono" name="telefono" [(ngModel)]="cliente.telefono" class="form-control" placeholder="Telefono" required>
                    <label for="telefono">Telefono</label>
                </div><br>

                
  
               <!-- <div class="custom-control custom-checkbox mb-3">
                  <input type="checkbox" class="custom-control-input" id="customCheck1">
                  <label class="custom-control-label" for="customCheck1">Remember password</label>
                </div>-->
                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="add()">Registrar</button>
                <button class="btn btn-lg btn-secondary btn-block text-uppercase" type="reset">Cancelar</button>
                
                <!--<button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>