<body>
    <div class="container">
        <div class="row">
          <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
              <div class="card-body">
                <h5 class="card-title text-center">Iniciar Sesion</h5><br>



                    <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-label-group">
                            
                            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required</div>
                            </div>
                            <label for="username">Username</label>
                        </div>
                        <div class="form-label-group">
                            
                            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                            </div>
                            <label for="password">Password</label>
                        </div><br>
                        <div class="form-label-group">
                            <button [disabled]="loading" class="btn btn-lg btn-primary btn-block text-uppercase">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                Login
                            </button>
                        </div>
                    </form>


                </div>
            </div>
          </div>
        </div>
    </div>
</body>