<body>
  <div class="row">
    <div class="col-6">
        <h1>Usuarios</h1>
        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar">
    </div>
  </div>
  <hr>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Usuario</th>
        <th scope="col">Password</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Rol</th>
        <th scope="col">Telefono</th>
        <!-- <th scope="col">Ver</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios; index as i">
        <td data-label="Nº" scope="row">{{ i + 1 }}</td>
        <td data-label="Usuario"class="text-left ">{{ usuario.usuario }}</td>
        <td data-label="Password"class="text-left ">{{ usuario.password }}</td>
        <td data-label="Estado"class="text-left text-capitalize">{{ usuario.estado }}</td>        
        <td data-label="Nombre"class="text-left text-capitalize">{{ usuario.nombre }}</td>
        <td data-label="Apellido"class="text-left text-capitalize">{{ usuario.apellido }}</td>
        <td data-label="Role"class="text-left text-capitalize">{{ usuario.role }}</td>
        <td data-label="Telefono"class="text-right">{{ usuario.telefono }}</td>
        <!-- <td><a routerLink="/usuarioModificar/{{usuario.usuarioId}}">ver</a></td>   |filtroUsuario:searchText-->
        
      </tr>
    </tbody>
  </table>
</body>
